.ui.segment.stripe {
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.appContainer {
  margin-top: 7rem;
  flex: 1;
}
.appCenterVertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#appRosterCards {
	display: flex;
	justify-content: space-around;
}
#appMasthead{
	margin-top: -7rem;
	height: 35rem;
} 
#appContent {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	min-height: 100vh;
}