.appBody {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.appContainer {
  margin-top: 7rem;
  flex: 1;
}
.appCenterVertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#appMasthead{
	margin-top: -7rem;
	height: 35rem;
}